<nav>Rick And Morty</nav>
<div class="container">
   <div class="cabezera">
    <div class="informacion">
<h3>Num.paginas :{{numPages}}</h3>
<h3>Pagina Actual :{{currentPage}}</h3>
<button (click)="changePage(false)" [disabled]="currentPage===1"  >Prev</button>
<button (click)="changePage(true)" [disabled]="currentPage===numPages">Next</button>
    </div>
    <div class="busqueda">
          <input id="name" type="text" placeholder="Search..." [formControl]="inputSearch">
    </div>
   </div>

<div class="grid">
  <app-personajeCard [personaje]="item" *ngFor="let item of characters" ></app-personajeCard>

</div>
</div>